<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.gda.pg.eti.kask.soundmeterpg">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:configChanges="orientation|screenSize"
        android:name="android.support.multidex.MultiDexApplication">
        <service android:name="pl.gda.pg.eti.kask.soundmeterpg.Services.GoogleAPILocalization"/>
        <service android:name=".Services.Measure" android:exported="false"/>
        <service android:name=".Services.Sender"/>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.Launcher"
            android:configChanges="orientation|screenSize">
            android:launchMode="singleInstance"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <uses-permission
                android:name="android.permission.ACCESS_MOCK_LOCATION"
                tools:ignore="MockLocation" />
            />
        </activity>

        <activity
            android:name=".Activities.SettingsActivity"
            android:label="Preferences"
            android:parentActivityName=".Activities.MainActivity"
            android:configChanges="orientation|screenSize"/>


        <activity
            android:name=".Activities.LoginActivity"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Activities.MainActivity"
            android:configChanges="orientation|screenSize"
             />
    </application>

</manifest>